<nav class="menu">
    <ul>
        <!-- This is an SEO Change -->
        <li><a [routerLink] = "['/']">Home</a></li>
        
        <!-- This is an A11y Change -->
        <li><a [routerLink] = "['/about']" aria-label="About Personal Budget App: About">About</a></li>

        <!-- This is an A11y Change -->
        <li><a [routerLink] = "['/login']" aria-label="Login to Personal Budget App: Login">Login</a></li>

        <!-- This is an A11y Change -->
        <li><a [routerLink] = "['/contact']" aria-label="Contact for Personal Budget App: Contact">Contact</a></li>
    </ul>
</nav>